.pagination_prev {
    position: absolute;
    left: 15%;
    bottom: 15%;
    width: 100px;
    height: 30px;
    color: white;
    background-color: sandybrown;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms linear;
}

.pagination_prev:hover {
    background-color: turquoise;
}

.pagination_next {
    position: absolute;
    right: 15%;
    bottom: 15%;
    width: 100px;
    height: 30px;
    color: white;
    background-color: sandybrown;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms linear;
}

.pagination_next:hover {
    background-color: turquoise;
}