.planet__info_list {
    border-radius: 20px;
    border: 2px solid sandybrown;
    width: 100%;
    padding: 20px;
}

.planet__info_item {
    color: white;
    margin-bottom: 20px;
}

.planet__info_image {
    display: none;
}

@media(min-width:768px) {
    .planet__info_item {
        font-size: 30px;
        text-align: center;
    }
}

@media(min-width:1280px) {
    .planet__info_item {
        font-size: 20px;
        display: flex;
    }

    .planet__info_image {
        display: block;
        width: 500px;
    }
}