.planet__info {
    /* background-color: sandybrown; */
    border-radius: 20px;
    border: 2px solid sandybrown;
    width: 280px;
    padding: 20px;
}

.planet__info_item {
    color: white;
    margin-bottom: 20px;
}